<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form>
<input id="start" type="date" />
<input id="end" type="date"/>
<button id="setDate">ok</button>
</form>



<canvas id="myChart" width="700" height="700"></canvas>



